$primaryColor: #d7d7d4;
$secondaryColor: #82cfd4;
$primaryBackgroundColor: #000000;
$secondaryBackgroundColor: #F0F8FF;
// $primaryBackgroundColor: #b4928f;
// $secondaryBackgroundColor: #8e5554;
$buttonColor: #696969;
$buttonHover: #82cfd4;

$headerFont: 'Barlow', sans-serif;
$baseFont: 'Lato', sans-serif;