html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 138px;
  line-height: 126px;
  color: #d7d7d4;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #d7d7d4;
  text-align: center;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #d7d7d4;
}

form label {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #d7d7d4;
}

a {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #d7d7d4;
}

li {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #d7d7d4;
  letter-spacing: 1px;
}

li .movieLabel {
  font-family: 'Barlow', sans-serif;
  color: #82cfd4;
  text-transform: uppercase;
  font-size: 20px;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

footer p {
  text-align: center;
}

.period {
  color: #82cfd4;
}

.plotContainer {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #d7d7d4;
}

.plotContainer a {
  color: #82cfd4;
}

.plotContainer a:hover {
  color: #d7d7d4;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../styles/assets/headerImage.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url("../styles/assets/headerImage.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  padding-bottom: 150px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

form .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

input[type=text] {
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  padding: 20px;
  color: #d7d7d4;
}

button[type=submit],
.resetButton {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movieAll {
  width: 33%;
  margin: 40px 0;
  padding: 30px;
  background-color: #000000;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  border-radius: 8px;
  cursor: pointer;
}

.movieAll img {
  width: 100%;
  border-radius: 8px;
}

.movieAll:hover {
  background-color: #F0F8FF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}

button {
  display: inline-block;
  vertical-align: middle;
  background-color: #696969;
  color: #d7d7d4;
}

button:hover {
  border: 1px solid #82cfd4;
  background: #82cfd4;
}

.resetButton {
  padding: 10px;
}

.searchAgain {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie {
  margin-top: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(67, 187, 196, 0.1)));
  background: linear-gradient(rgba(67, 187, 196, 0.1));
  padding: 50px;
  border-radius: 8px;
}

.movie img {
  border-radius: 8px;
}

.plotContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plotContainer a {
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  background-color: #F0F8FF;
  padding: 50px;
}

@media (max-width: 640px) {
  .period {
    display: in-line;
  }
  .searchBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .searchBar input[type=text] {
    margin-bottom: 10px;
  }
  .searchBar button[type=submit] {
    padding: 10px;
  }
  .movieAll {
    width: 45%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .movie {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movie .movieImg {
    text-align: center;
  }
  .movie .movieImg img {
    width: 100%;
  }
  .movie .movieDetails {
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 515px) {
  input[type=text] {
    width: 400px;
  }
}

@media (max-width: 455px) {
  h1 {
    font-size: 100px;
  }
  .movieAll {
    width: 100%;
  }
  .movie {
    padding: 30px;
  }
  .movie .movieImg {
    padding: 10px;
  }
  .movie .movieImg img {
    text-align: center;
  }
}

@media (max-width: 405px) {
  h1 {
    font-size: 90px;
  }
  input[type=text] {
    width: 300px;
  }
  .movie {
    padding: 10px;
  }
}

@media (max-width: 365px) {
  h1 {
    font-size: 50px;
  }
  .movie {
    padding: 0;
  }
}
